




@media screen and (max-width: 768px) {
  
    .logo {
        justify-content: flex-start !important;
        border: 1px solid red;
        width: 50%; 
        left: 0%;
    }

    .img_yo {
        z-index: -1;
        width: 80%;
        height: 80%;
        -webkit-mask-image: linear-gradient(to top, transparent 0%, black 20%),
                            linear-gradient(to right, transparent 0%, black 3%),
                            linear-gradient(to left, transparent 0%, black 3%);
        -webkit-mask-composite: destination-in;
        mask-image: linear-gradient(to top, transparent 0%, black 20%),
                    linear-gradient(to right, transparent 0%, black 3%),
                    linear-gradient(to left, transparent 0%, black 3%);
        mask-composite: intersect;

    }

    section img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        z-index: 100;
    }
  
  
    .nav-links {
        display: none;
        flex-direction: column;
        background-color: var(--color2);
        border: 1px solid var(--color1);
        position: absolute;
        top: 60px;
        right: 0;
        width: 200px;
        z-index: 1001;
        padding: 1rem;    
        /* Animación */
        opacity: 0;
        pointer-events: none;
        transition: max-height 0.4s ease-in-out, opacity 0.4s ease-in-out;
    }

  .nav-links.active {
    display: flex;
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
  }

  .hamburger {
    display: block;
  }

    .bx-twitter-x,
    .bx-instagram {
    font-size: 20px;
    }

/*******************************************************************/
/*******************************************************************/
    .yo {
        left: 18%;
        top: 40%;
        font-size: 17px;
    }

    .nombre {
        font-size: 125px;
        margin-right: 0%;
        font-weight: 500;
        letter-spacing: 2px;
    }

    .profesion {
        font-size: 17px;
        margin-left: 43%;
        bottom: 39%;
    }

    .btn {
        top: 68%;
        left: 30%;
    }

/*******************************************************************/
/*******************************************************************/

    p {
        font-size: 12px;
    }

}

@media screen and (max-width: 480px) {
  /* Teléfonos pequeños tipo SE, Galaxy mini, etc. */
    .logo {
        justify-content: flex-start !important;
    }


        .profesion {
        font-size: 16.5px;
        margin-left: 43%;
        bottom: 39%;
    }

}

